autoupdate_schedule: quarterly
repos:
    # - repo: https://github.com/jackdewinter/pymarkdown
    #   rev: v0.9.15
    #   hooks:
    #       - id: pymarkdown
    # - repo: https://github.com/igorshubovych/markdownlint-cli
    #   rev: v0.38.0
    #   hooks:
    #   - id: markdownlint-fix
    - repo: https://github.com/executablebooks/mdformat
      rev: 0.7.17  # Use the ref you want to point at
      hooks:
      - id: mdformat
        # Optionally add plugins
        additional_dependencies:
        - mdformat-myst
        - mdformat-black