ci:
  autoupdate_schedule: monthly
repos:
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0  
    hooks:
    - id: mdformat
      additional_dependencies:
      - mdformat-myst
      - mdformat-black
      - mdformat-config
      - mdformat-tables
      - mdformat-web
      - mdformat-mkdocs  
      - mdformat-gfm
