:root {
  --md-primary-fg-color:        #012169;
  --md-primary-fg-color--light: #B9D9EB;
  --md-primary-fg-color--dark:  #012169;
  --md-accent-fg-color:         #00796B;
  --md-accent-fg-color--transparent: #00796B1a;
}
