name: deploy-book

# Trigger This workflow only once the book build is completed
on:
  workflow_run:
    workflows:
      - build-book
    types:
      - completed

# This job installs dependencies, builds the book, and deploys the html
jobs:
  deploy:
    # only run this when pushed to main
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    
    # download the artifact
    - name: Download Artifact site
      uses: dawidd6/action-download-artifact@v2.14.1
      with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: build.yaml
          run_id: ${{ github.event.workflow_run.id }}s
          name: book-zip
    
    # Download the artifact (zipped html output)
    - name: Unzip site
      run: |
          rm -rf book/_build/html
          unzip book.zip
          rm -f book.zip

    # Deploy the book's html to github pages
    - name: GitHub Pages action
      # Double Check that this is the correct repo
      if: github.repository == 'leap-stc/leap-stc.github.io'
      uses: peaceiris/actions-gh-pages@v3
      with:
        publish_branch: gh-pages
        publish_dir: book/_build/html
        full_commit_message: "GitHub action book deploy"
        github_token: ${{ secrets.GITHUB_TOKEN }}
