
name: publish-book

on:
  # Trigger the workflow on push to main branch
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    uses: ProjectPythia/cookbook-actions/.github/workflows/build-book.yaml@v2025.06.17
    with:
      environment_name: leap-docs-env
      path_to_notebooks: 'book'

  deploy:
    needs: build
    uses: ProjectPythia/cookbook-actions/.github/workflows/deploy-book.yaml@v2025.06.17
    with:
      publish_dir: "book/_build/html"
