name: trigger-book-build
on:
  pull_request:

jobs:
  build:
    uses: ProjectPythia/cookbook-actions/.github/workflows/build-book.yaml@v2024.10.29
    with:
      environment_name: leap-docs-env
      artifact_name: book-zip-${{ github.event.number }}
      path_to_notebooks: "book"
      build_command: "jupyter-book build -W --keep-going ."
      # Other input options are possible, see ProjectPythia/cookbook-actions/.github/workflows/build-book.yaml
