name: trigger-preview
on:
  workflow_run:
    workflows:
      - trigger-book-build
    types:
      - requested
      - completed

jobs:
  find-pull-request:
    uses: ProjectPythia/cookbook-actions/.github/workflows/find-pull-request.yaml@main
  deploy-preview:
    needs: find-pull-request
    if: github.event.workflow_run.conclusion == 'success'
    uses: jbusecke/cookbook-actions/.github/workflows/deploy-book.yaml@patch-3 #hack until https://github.com/ProjectPythia/cookbook-actions/pull/45 is merged. 
    with:
      artifact_name: book-zip-${{ needs.find-pull-request.outputs.number }}
      destination_dir: _preview/${{ needs.find-pull-request.outputs.number }} # deploy to subdirectory labeled with PR number
      is_preview: 'true'
      publish_dir: "book/_build/html"
      # cname: foundations.projectpythia.org

  preview-comment:
    needs: find-pull-request
    # uses: ProjectPythia/cookbook-actions/.github/workflows/preview-comment.yaml@main
    uses: ./.github/workflows/preview-comment.yaml
    with:
      pull_request_number: ${{ needs.find-pull-request.outputs.number }}
      sha: ${{ needs.find-pull-request.outputs.sha }}
